* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-color: rgb(255, 187, 0);
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.postContainer {
  height: 100%;
  width: 100%;
}

.singlePost {
  position: relative;
  width: 45%;
  background: #fff;
  margin: 10px 10px 10px 20px;
  float: left;
  border-radius: 15px;
}

.singlePostleft {
  width: 15%;
  height: 18%;
  max-width: 15%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: #000;
}

.singlePostright {
  width: 75%;
  display: table-cell;
  text-align: left;
  background-color: #e8e8e8;
  color: #000000;
  border-radius: 0 15px 15px 0;
  padding: 0 20px;
  overflow: hidden;
}

.SinglePosttitle {
  font-family: "Itim", cursive;
  font-weight: bold;
  color: #2b312b;
  font-size: 25px;
  height: 25px;
  margin-top: 25px;
}

.SinglePostdesc {
  height: 100px;
  margin-bottom: 0 !important;
}

.delete_icon {
  position: absolute;
  right: 5px;
  top: 5px;
}

.dot_icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.delete_icon img {
  height: 30px;
  width: 30px;
}